[project]
	description = "Foreman pre-installed in a docker image.  This foreman includes a smart proxy with DHCP,TFTP and Puppet pre-configured.  The Discovery and compute plugins are enabled by default."
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dave (davejohnston)
[access "refs/for/refs/*"]
	read = group user/Dave (davejohnston)
	push = group user/Dave (davejohnston)
	label-Code-Review = -2..+2 group user/Dave (davejohnston)
	label-Verified = -1..+1 group user/Dave (davejohnston)
	rebase = group user/Dave (davejohnston)
	removeReviewer = group user/Dave (davejohnston)
	submit = group user/Dave (davejohnston)
[access "refs/heads/*"]
	read = group user/Dave (davejohnston)
	create = group user/Dave (davejohnston)
	push = +force group user/Dave (davejohnston)
	pushMerge = group user/Dave (davejohnston)
[access "refs/tags/*"]
	push = group user/Dave (davejohnston)
	push = +force group user/Dave (davejohnston)
